@page "/poker"
@rendermode InteractiveWebAssembly
@using AgileToolbox.Client.Components
@using Microsoft.AspNetCore.SignalR.Client
@inject NavigationManager Navigation
@implements IAsyncDisposable

<PageTitle>Planning Poker</PageTitle>

<div class="form-group">
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">User</span>
        </div>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" @bind="userInput">
    </div>
</div>

@if (poker)
{
    <div class="form-group">        
        <Card CardValue="1" IsSelected="@(selectedCard == "1")" OnSelected=@(() => HandleSetValue("1")) />
        <Card CardValue="2" IsSelected="@(selectedCard == "2")" OnSelected=@(() => HandleSetValue("2")) />
        <Card CardValue="3" IsSelected="@(selectedCard == "3")" OnSelected=@(() => HandleSetValue("3")) />
        <Card CardValue="5" IsSelected="@(selectedCard == "5")" OnSelected=@(() => HandleSetValue("5")) />
        <Card CardValue="8" IsSelected="@(selectedCard == "8")" OnSelected=@(() => HandleSetValue("8")) />
        <Card CardValue="13" IsSelected="@(selectedCard == "13")" OnSelected=@(() => HandleSetValue("13")) />
        <Card CardValue="20" IsSelected="@(selectedCard == "20")" OnSelected=@(() => HandleSetValue("20")) />
        <Card CardValue="?" IsSelected="@(selectedCard == "?")" OnSelected=@(() => HandleSetValue("Unknown")) />
        <Card CardValue="Tea" IsSelected="@(selectedCard == "Tea")" OnSelected=@(() => HandleSetValue("Tea")) />
    </div>
}
else
{
    <div class="form-group">        
        <Card CardValue="1" IsSelected="@(selectedCard == "1")" OnSelected=@(() => HandleSetValue("1")) />
        <Card CardValue="2" IsSelected="@(selectedCard == "2")" OnSelected=@(() => HandleSetValue("2")) />
        <Card CardValue="3" IsSelected="@(selectedCard == "3")" OnSelected=@(() => HandleSetValue("3")) />
        <Card CardValue="4" IsSelected="@(selectedCard == "4")" OnSelected=@(() => HandleSetValue("4")) />
        <Card CardValue="5" IsSelected="@(selectedCard == "5")" OnSelected=@(() => HandleSetValue("5")) />
        <Card CardValue="?" IsSelected="@(selectedCard == "?")" OnSelected=@(() => HandleSetValue("Unknown")) />
        <Card CardValue="Tea" IsSelected="@(selectedCard == "Tea")" OnSelected=@(() => HandleSetValue("Tea")) />
    </div>
}
<br />
<button class="btn btn-outline-secondary" @onclick="Send" disabled="@(!IsConnected)">Send</button>
<button class="btn btn-outline-secondary" @onclick="ToggleShowResults" disabled="@(!IsConnected)">@showResultButton</button>
<button class="btn btn-outline-secondary" @onclick="ClearResults" disabled="@(!IsConnected)">Clear</button>
<button class="btn btn-outline-secondary" @onclick="SyncResults" disabled="@(!IsConnected)">Sync To Me</button>
<button class="btn btn-outline-secondary" @onclick="ChangeVoteType" disabled="@(!IsConnected)">@voteTypeButton</button>

<hr>

@if (showResults)
{
    <ul id="messagesList">
        @foreach (var estimate in estimates)
        {
            <li>@estimate.Key - @estimate.Value</li>
        }
    </ul>
}
else
{
    <ul id="messagesList">
        @foreach (var estimate in estimates)
        {
            <li>@estimate.Key - ???</li>
        }
    </ul>
}

@code {
    private HubConnection? hubConnection;
    private Dictionary<string, string> estimates = new();
    private string? userInput;
    private string? estimateInput;
    private bool showResults = false;
    private string? showResultButton => GetShowButtonText();
    private string? selectedCard;
    private bool poker = true;
    private string? voteTypeButton => GetVoteTypeButtonText();

    private string GetShowButtonText()
    {
        if (showResults)
        {
            return "Hide";
        }
        else
        {
            return "Show";
        }
    }

    private string GetVoteTypeButtonText()
    {
        if (poker)
        {
            return "Go To Confidence Vote";
        }
        else
        {
            return "Go To Planning Vote";
        }
    }

    protected override async Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(Navigation.ToAbsoluteUri("/PokerHub"))
            .Build();

        hubConnection.On<string, string>("ReceiveMessage", (user, estimate) =>
        {
            if (estimates.ContainsKey(user))
            {
                estimates[user] = estimate;
            }
            else
            {
                estimates.Add(user, estimate);
            }

            InvokeAsync(StateHasChanged);
        });

        hubConnection.On<bool>("ReceiveShowMessage", (showEstimates) =>
        {
            showResults = showEstimates;
            InvokeAsync(StateHasChanged);
        });

        hubConnection.On<Dictionary<string, string>>("ReceiveClearEstimates", (clearEstimates) =>
        {
            estimates = clearEstimates;
            InvokeAsync(StateHasChanged);
        });

        hubConnection.On<Dictionary<string, string>>("ReceiveSyncEstimates", (syncEstimates) =>
        {
            estimates = syncEstimates;
            InvokeAsync(StateHasChanged);
        });

        hubConnection.On<bool>("ReceiveToggleVote", (pokerType) =>
        {
            poker = pokerType;
            InvokeAsync(StateHasChanged);
        });

        await hubConnection.StartAsync();
    }

    private async Task ChangeVoteType()
    {
        if (hubConnection is not null)
        {
            if (poker)
            {
                poker = false;
            }
            else
            {
                poker = true;
            }

            await hubConnection.SendAsync("ToggleVote", poker);
            StateHasChanged();
        }
    }

    private async Task ToggleShowResults()
    {
        if (hubConnection is not null)
        {
            if (showResults)
            {
                showResults = false;
            }
            else
            {
                showResults = true;
            }

            await hubConnection.SendAsync("ToggleShow", showResults);
            StateHasChanged();
        }
    }

    private async Task ClearResults()
    {
        if (hubConnection is not null)
        {
            estimates = new Dictionary<string, string>();
            await hubConnection.SendAsync("ClearEstimates", estimates);

            showResults = false;
            await hubConnection.SendAsync("ToggleShow", showResults);
            StateHasChanged();
        }
    }

    private async Task SyncResults()
    {
        if (hubConnection is not null)
        {
            await hubConnection.SendAsync("SyncEstimates", estimates);
            StateHasChanged();
        }
    }

    private async Task Send()
    {
        if (hubConnection is not null)
        {
            await hubConnection.SendAsync("SendMessage", userInput, estimateInput);
            StateHasChanged();
        }
    }

    public bool IsConnected =>
        hubConnection?.State == HubConnectionState.Connected;

    public async ValueTask DisposeAsync()
    {
        if (hubConnection is not null)
        {
            await hubConnection.DisposeAsync();
        }
    }

    private void HandleSetValue(string value)
    {
        selectedCard = value;
        estimateInput = value.ToString();
        StateHasChanged();
    }
}